// Specific CSS for your home-page


body {
  background-image: url(asset_path("homepage.jpg")) ;
  // background-image: url(https://images.unsplash.com/photo-1626697989968-4165da575553?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2552&q=80);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // height: 100%;

  /* Center and scale the image nicely */
}

h1 {
  font-family: $mulish-font !important;
  font-size: 250px;
}

h3 {
  color: white;
  font-size: 36px;
}

.white-button {
  background-color: white;
  font-size: 18px;
  color: black;
  border-radius: 20px;
  padding: 8px 12px;
}


.container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.centred-container {
  border-radius: 8px;
  // width: 50%;
  margin: 0 auto;
  display: block;
}

.center {
  margin: auto;
  // min-width: 200px;
  padding: 10px;
  text-align: center;
  align-items: center;
}

.foot {
  // align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
