.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-title {
  font-family: $logo-font !important;
  font-size: 24px;
  color: white;
}

.navbar-title:hover {
  text-decoration: none;
  color: #DADDDE;
}


.navbar-link {
  font-family: $mulish-font !important;
  font-size: 24px;
  color: white;
}

.navbar-link:hover {
  text-decoration: none;
  color: #DADDDE;
}
